@font-face {
    font-family: frontman;
    src: url(font.ttf);
}
body {
    text-align: center;
}

#rockAnim {
    width: 500px;
    margin-bottom: 30px;
}

#circle {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 10px; 
    font-family: frontman;
    box-sizing: border-box;
    display: inline-block;
    cursor: url('hand.png'), default;
    box-shadow: 2px 2px 2px black;
}
.aligner {
    vertical-align: middle;
    display: inline-block;
    height: 25%;
}
#info {
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
}
