<div class="menu_container" ng-click="$event.stopPropagation()">
    <div class="menu_close" ng-click="$parent.menuObj.menuClicked=false; $parent.menuObj.menuClickedKontakt=false; $event.stopPropagation();">
        <span style="padding: 0 6px; font-size: 12px" >Zamknij</span><img class="closeMenu" ng-src='img/closeGal.png'>
    </div>
    
    <div class="menu_header">
        
        Kontakt
        
    </div>
    
    <div class="menu_text">
        <div class="menu_text_content">
            <p><span style="font-weight: bold">Towarzystwo Kultury Czynnej</span><br>
                ul. Dembowskiego 92/1<br>
                51-669 Wrocław<br>
                <a href="http://kulturaczynna.pl/" target="_blank">www.kulturaczynna.pl</a>
            </p>
                <table id="contactTable">
                    <tr>
                        <td>forma prawna:</td>
                        <td>stowarzyszenie</td>
                    </tr>
                    <tr>
                        <td>KRS:</td>
                        <td>0000110024</td>
                    </tr>
                    <tr>
                        <td>NIP:</td>
                        <td>896-11-62-848</td>
                    </tr>
                </table>
            <p></p>
            <p>
                <span style="font-weight: bold">Dom Sztuki PajdArt</span><br>
                biuro:<br>
                ul. Paulińska 4-8<br>
                50-247 Wrocław
            </p>
                <table id="contactTable">
                    <tr>
                        <td>tel.:</td>
                        <td>e-mail:</td>
                    </tr>
                    <tr>
                        <td>693-314-806 / Ania</td>
                        <td>tkcbiuro@interia.pl</td>
                    </tr>
                    <tr>
                        <td>663-781-530 / Jola</td>
                        <td>tkcjola@interia.pl</td>
                    </tr>
                </table>
        </div>
    </div>
</div>
