<div class="menu_container" ng-click="$event.stopPropagation()">
    <div class="menu_close" ng-click="$parent.menuObj.menuClicked=false; $parent.menuObj.menuClickedProjekt=false; $event.stopPropagation();">
        <span style="padding: 0 6px; font-size: 12px" >Zamknij</span><img class="closeMenu" ng-src='img/closeGal.png'>
    </div>
    
    <div class="menu_header">
        <p>
        Mapa Emocjonalna Nadodrza
        </p>
    </div>
    
    <div class="menu_text">
        <div class="menu_text_content">
            <p>
               Strona internetowa "Mapa emocjonalna Nadodrza" stanowi rodzaj kolażu czy mozaiki, na którą składają się refleksje mieszkańców w formie wypowiedzi artystycznych - prac plastycznych, fotografii, tekstów poetyckich i prozatorskich, filmów, nagrań audio – związanych z miejscami, ludźmi i zjawiskami na Nadodrzu.
            </p>
            <p>
                Poprzez prezentację zebranych materiałów w postaci strony internetowej chcemy pokazać Nadodrze jako miejsce ciekawe, inspirujące, ale także niejednoznaczne, o skomplikowanej historii i trudnej do jednoznacznego zidentyfikowania tożsamości.
            </p>
            <p>
                Zbierając materiały docieramy do pamięci osób zarówno młodych jak i starszych, interesuje nas jak widzą i "czują" Nadodrze osoby w różnym wieku, o różnych doświadczeniach życiowych, o różnej wrażliwości estetycznej w tym te które pamiętają czas osiedlania się po II wojnie światowej. 
            </p>
            <p>
                W wyniku realizowanych obecnie procesów rewitalizacyjnych tkanka architektoniczna Nadodrza podlega nieustannym przekształceniom. Poprzez nasz projekt chcemy odnotować również zmiany zachodzące w tkance społecznej, dać mieszkańcom możliwość wypowiedzi twórczej, artystycznego komentarza, zapisania swoich wspomnień, przemyśleń i refleksji. Z założenia Mapa Emocjonalna Nadodrza nie dotyczy tylko mieszkańców osiedla Nadodrze czy Wrocławia, jest rodzajem punktu na brzegu "rzeki czasu".
            </p>
            <p>
                Strona "Emocjonalna Mapa Nadodrza" powstała w 2012 roku dzięki dofinansowaniu Gminy Wrocław, została przebudowana oraz przetłumaczona na język angielski i niemiecki w 2016 roku w ramach projektów Pracownie PajdArt - Nad rzeką czasu dofinansowywanego przez Gminę Wrocław oraz Nad rzeką czasu dofinansowywanego ze środków Ministra Kultury i Dziedzictwa Narodowego.
            </p>    
        </div>
    </div>
</div>
