<div class="menu_container" ng-click="$event.stopPropagation()">
    <div class="menu_close" ng-click="$parent.menuObj.menuClicked=false; $parent.menuObj.menuClickedProjekt=false; $event.stopPropagation();">
        <span style="padding: 0 6px; font-size: 12px" >Schließen</span><img class="closeMenu" ng-src='img/closeGal.png'>
    </div>
    
    <div class="menu_header">
        <p>
        Emotionale Landkarte der Odervorstadt
        </p>
    </div>
    
    <div class="menu_text">
        <div class="menu_text_content">
            <p>
                Strona w przygotowaniu.
            </p>    
        </div>
    </div>
</div>
