    body {
    background-image: url('img/back.jpg');
	background-size: cover;
	
}
	#playField {
    
    
        width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    position: fixed;    
}

.playField div {
    width: 78px;
    height: 124px;
    display: inline-block;
    border: 1px solid black;   
    border-radius: 5px;
	box-shadow: 2px 2px 1px grey;
    
    
    
}

.brighten_hid {
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
}

.brighten_show {
    background-color: rgba(0,0,0,0.4);
}

.first:hover, .second:hover, .third:hover, .fourth:hover {
    
    border: 1px solid black;   
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.1s linear;
    cursor: pointer;
}

.first {
    border: 1px solid black;    
    z-index: 0;
    background-color: rgba(0,0,0,.3);
    
} 


.second {
    position: relative;
    top: -450px;
    left: 0px;
    display: inline-block;
    z-index: 1;
    border: 1px solid green;
    background-color: rgba(0,0,0,.3);
    
}

.third {
    position: relative;
    top: -755px;
    left: 0px;
    display: inline-block;
    z-index: 2;
    border: 1px solid red;
    background-color: rgba(0,0,0,.3);
    
}
.fourth {
    position: relative;
    top: -955px;
    left: 0px;
    display: inline-block;
    z-index: 3;
    border: 1px solid navy;
    background-color: rgba(0,0,0,.3);
}

.select {
box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}
.reset {
    display: inline-block;
    margin: 20% auto 0 auto;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.6);
    cursor: pointer;
}

.reset:hover {
    background-color: rgba(255,255,255,.8);    
}